@import "tailwindcss";

@theme {
  --color-primary: #FF4C00;
  --color-bg-base: #0F0F0F;
  --color-card: #1A1A1A;
  --color-text-dim: #A0A0A0;
  --color-accent: #25D366;
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
